.strip-container {
  height: 100%;
  border-top: 1px solid;
}

.row-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-right: none;
  border-bottom: 1px solid;
}

.columns {
  display: flex;
  justify-content: center;
  border-right: 1px solid;
  width: calc(100%/10);
  height: 100%;
  align-items: center;
}

.row-one:first-child,
.row-one:nth-child(2) {
  border-left: 1px solid;
}