<div class="header-container">
  <div class="btn-container">
    <div class="print-btn">F6 Print</div>
    <div class="reset-btn">F8 Reset</div>
    <div class="trn-btn">Tr Details</div>
    <div class="adv-draw-btn">Advance Draw</div>
  </div>
  <div class="barcode-container">
    <input class="barcode" type="text" name="" id="" placeholder="Enter Barcode">
  </div>
  <div class="total-container">
    <input class="qty" type="text" [disabled]="true">
    <input class="pts" type="text" [disabled]="true">
  </div>
</div>