<div class="strip-container">
  <div class="row-one">
    <!-- <div *ngFor="let item of winningList" class="columns">{{item}}</div> -->
    <span class="first-info">UserName</span>
    <span class="second-info">Draw Time</span>
    <span class="third-info">Draw Timer</span>
    <span class="fourth-info">Draw Date</span>
    <span class="fifth-info">Balance</span>
    <span class="sixth-info">Last Transaction Id</span>
    <span class="seventh-info">L.S Pts.</span>
  </div>
  <div class="row-one">
    <!-- <div *ngFor="let item of winningList" class="columns">{{item}}</div> -->
    <span class="first-info">GSTIN: Under Process</span>
    <span class="second-info">Time</span>
    <span class="third-info">Timer</span>
    <span class="fourth-info">Date</span>
    <span class="fifth-info">1000</span>
    <span class="sixth-info">Agdsadhksahd</span>
    <span class="seventh-info">500</span>
  </div>
</div>