<div class="input-container">
  <div class="row-one">
    <input value="Block" class="block-text">
    <input *ngFor="let item of winningList" class="input-container-input-box color-input">
    <input value="Qty." class="qty-text">
    <input value="Pts." class="pts-text">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input" (input)="setMultiValues('y', start, $event)">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue((start + i), $event)" [value]="valueArray[start + i] === 0 ? '' : valueArray[start + i]"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 10) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 10) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 20) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 20) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 30) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 30) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 40) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 40) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 50) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 50) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 60) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 60) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 70) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 70) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 80) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 80) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
  <div class="display-row">
    <span class="display-number"></span>
    <span class="display-number" *ngFor="let item of winningList; let i = index;">{{(start + 90) + i}}</span>
    <span class="display-number"></span>
    <span class="display-number"></span>
  </div>
  <div class="row-one">
    <input class="input-container-input-box color-input">
    <input *ngFor="let item of winningList; let i = index;" class="input-container-input-box"
      (input)="setValue(((start + 90) + i), $event)"
      [disabled]="(item%2 === 0 && seriesType === 1) ? true : (item%2 !== 0 && seriesType === 2) ? true : false">
    <input class="input-container-input-box qty-color-input" [disabled]="qtyDisabled">
    <input class="input-container-input-box pts-color-input" [disabled]="ptsDisabled">
  </div>
</div>