@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.input-container {
  display: inline-flex;
  margin: 5px;
  width: calc(100%/11);
}

.x-axis-multi-inputs {
  font-family: 'Roboto Slab', serif;
  display: inline-flex;
  height: 25px;
  width: calc(100%/12);
  padding: 0;
  border-radius: 5px;
  font-size: large;
  text-align: center;  
  margin: 5px;
}

.input-container__input-box {
  font-family: 'Roboto Slab', serif;
  height: 25px;
  width: 50px;
  padding: 0;
  border-radius: 5px;
  font-size: large;
  text-align: center;  
}
