$border-color: #000000;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  font-family: Poppins-Medium;
  font-size: 12pt;
  font-weight: 500;
}