<div class="container">
  <div class="header">
    <app-winning-strip></app-winning-strip>
  </div>
  <div class="header-button">
    <app-header-buttons></app-header-buttons>
  </div>
  <div class="info-container">
    <app-info-strip></app-info-strip>
  </div>
  <div class="button">
    <app-range1000-btn></app-range1000-btn>
  </div>
  <div class="play-options">
    <app-play-options></app-play-options>
  </div>
  <div class="main-center">
    <div class="side-bar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="number-inputs">
      <app-input-box></app-input-box>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>