<div class="sidebar-container">
  <div class="row-one">
    <div class="col1">
      <span class="page-up">Page Up</span>
      <span class="page-down">Page Down</span>
    </div>
    <div class="col2">
      <span class="all"><input type="checkbox" name="" id=""> All</span>
    </div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start}} - {{start + 99}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2"></div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 100}} - {{start + 199}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2">
      <span><input type="radio" name="points-value" id=""><span class="points-text">2.00</span></span>
    </div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 200}} - {{start + 299}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2">
      <span><input type="radio" name="points-value" id=""><span class="points-text">4.00</span></span>
    </div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 300}} - {{start + 399}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2">
      <span><input type="radio" name="points-value" id=""><span class="points-text">10.00</span></span>
    </div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 400}} - {{start + 499}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2">
      <span><input type="radio" name="points-value" id=""><span class="points-text">20.00</span></span>
    </div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 500}} - {{start + 599}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2">
      <span><input type="radio" name="points-value" id=""><span class="points-text">40.00</span></span>
    </div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 600}} - {{start + 699}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2"></div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 700}} - {{start + 799}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2"></div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 800}} - {{start + 899}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2"></div>
  </div>
  <div class="row-one">
    <div class="col1">
      <span class="series">{{start + 900}} - {{start + 999}}</span>
      <span class="points"><input type="checkbox" name="" id="">(Pts 2)</span>
    </div>
    <div class="col2"></div>
  </div>
</div>