$border-color: #000000;
$odd-series-gradient: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
$even-series-gradient: linear-gradient(to right, #ffb347 0%, #ffcc33 51%, #ffb347 100%);

.strip-container {
  height: 100%;
}

.row-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 1px);
  border: 1px solid $border-color;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 1px solid $border-color;
}

.button:nth-of-type(odd) {
  background: $odd-series-gradient;
}

.button:nth-of-type(even) {
  background: $even-series-gradient;
}

.button:last-child {
  border-right: none;
}